/* Login_CSS */

body {
        color: black;
        line-height: 1.5;
        text-align: center;
        font-family: verdana, Arial;
	    background-color: white;
}

.ui-btn{
    border: 0 !important;
    background-color: transparent!important;
    width: 150px !important;
    /*padding-left: 40% !important;*/
}

li a{
    float: left;
}